// Content :Sử dụng dành riêng cho Text và Icon
$contentPrimary: #2f3136;
$contentSecondary: #888b96;
$contentTertiary: #c8cacf;
$contentInversePrimary: #ffffff;
$contentAccent: #3080ea;
$contentPositive: #31c375;
$contentNegative: #e94040;
$contentCritical: #fa8c16;
$contentInformative: #18baff;

// Line
$linePrimary: #dedfe2;
$lineSecondary: #c8cacf;
$lineTertiary: #e9eaec;
$lineInversePrimary: #ffffff;
$lineAccent: #3080ea;
$linePositive: #31c375;
$lineNegative: #e94040;
$lineCritical: #fa8c16;
$lineInformative: #18baff;

// Background

$bgPrimary: #ffffff;
$bgSecondary: #edeef0;
$bgTertiary: #f1f2f4;
$bgInversePrimary: #2f3136;
$bgAccentPrimary: #3080ea;
$bgAccentSecondary: rgba(48, 128, 234, 0.16);
$bgMain: #232323;

$bgPositivePrimary: #31c475;
$bgPositiveSecondary: rgba(0, 188, 60, 0.12);
$bgNegativePrimary: #e94040;
$bgNegativeSecondary: rgba(233, 64, 64, 0.12);
$bgCriticalPrimary: #fa8c16;
$bgCriticalSecondary: rgba(250, 140, 22, 0.12);
$bgInformativePrimary: #18baff;
$bgInformativeSecondary: rgba(24, 186, 255, 0.12);

//Extensions

$link: #1890ff;
$scrim: rgba(0, 0, 0, 0.6);
$alwaysLight: #ffffff;
$alwaysDark: #2f3136;
$yellow: #fadb14;
$lime: #a0d911;
$teal: #13c2c2;
$indigo: #2f54eb;
$purple: #722ed1;
$pink: #eb2f96;

//Brand
$ducvietComputer: #e62e24;
