.checked-group-text {
  .item {
    width: fit-content;
    padding: 5px 10px;
    border: 1px solid #e9eaec;
    border-radius: 4px;
    cursor: pointer;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .item.active {
    border: 1px solid #3080ea;
  }
}
