.category {
	padding-top: 7vh;
	.SearchCategory {
		padding-top: 0vh;
	}

	.listCateBooking .BoxCate-item .ant-checkbox-group-item {
		margin-right: 8px;
		padding-bottom: 10px;
	}
	& .title {
		padding-top: 2vh;
		margin-bottom: 30px;
		position: relative;
		font-size: 1.2rem;
		font-weight: bold;
		color: rgba(1, 1, 1, 0.8);
		border-bottom: 0.5px solid rgba(1, 1, 1, 0.2);
		p {
			margin-bottom: 10px;
		}
	}
	& .priceRangerFilter {
		padding-bottom: 20px;

		& .box {
			// .ant-input-search
			// 	> .ant-input-group
			// 	> .ant-input-group-addon:last-child
			// 	.ant-input-search-button {
			// 	background-color: #ffa801;
			// 	border: #ffa801;
			// 	color: #fff;
			// }

			padding-top: 0;
			display: flex;
			align-items: center;
			& input:nth-child(1) {
				margin: 0 10px 0 0;
			}
			& input:nth-child(2) {
				margin: 0 0 0 10px;
			}
			.ant-input {
				font-size: 16px;
			}
		}
		& .btn {
			font-size: 16px;
			background-color: #ffa801;
			color: #fff;
			margin: 10px 0;
			padding: 8px 0;
			height: auto;
			border-radius: 4px;
		}
	}
}
