.configReview {
	padding-top: 30px;
	position: relative;
	.title {
		padding-top: 20px;
		position: relative;
		font-size: 1.3rem;

		border-bottom: 0.5px solid rgba(1, 1, 1, 0.2);
		p {
			margin-bottom: 10px;
		}

		&::before {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			height: 2px;
			width: 80px;
			background-color: #45d8bb;
		}
	}

	.box {
		margin: 3% 0 3% 0;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		.box-left {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 0 10%;
			border-right: 1px solid rgba(1, 1, 1, 0.1);
			.count {
				font-size: 3.5rem;
			}
			.rating {
				display: inline-block;
				color: rgba(1, 1, 1, 0.2);
				font-size: 1rem;
				i.active {
					color: #febd69;
				}
			}
			.comment {
				font-size: 1rem;
			}
		}

		.box-right {
			padding: 0 0 0 10%;
			.ratingFive,
			.ratingFour,
			.ratingThere,
			.ratingTwo,
			.ratingOne {
				display: flex;
				align-items: center;
				font-size: 1rem;
				align-items: center;
				color: rgba(1, 1, 1, 0.2);
				font-size: 1rem;
				i.active {
					color: #febd69;
				}

				.processBar {
					width: 200px;
					padding-left: 5%;
				}

				.count {
					padding-left: 3%;
					color: rgba(1, 1, 1, 0.8);
				}
			}
		}
	}

	.Commented {
		position: relative;
		.boxParentComment {
			margin: 3% 10% 0 10%;
			padding: 0 0 2% 0;
			border-bottom: 1px solid rgba(1, 1, 1, 0.1);
			.boxTitle {
				display: flex;
				align-items: center;
				.userImg {
					width: 70px;
					height: 70px;

					img {
						width: 100%;
						width: 100%;
					}
				}

				.user {
					padding-left: 1%;
					.name {
						font-size: 1rem;
						color: rgba(1, 1, 1, 0.9);
					}
					.time {
						color: rgba(1, 1, 1, 0.6);
					}
				}
			}
			.rating {
				display: inline-block;
				color: rgba(1, 1, 1, 0.2);
				font-size: 1rem;
				i.active {
					color: #febd69;
				}
			}
			.boxContent {
				p {
					font-size: 1.1rem;
					font-weight: bold;
				}
			}

			.boxImg {
				display: flex;
				.boxImg-item {
					width: 20%;
					height: 18vh;
					padding: 1%;

					img {
						border-radius: 10px;
						width: 100%;
						height: 100%;
						cursor: pointer;
					}
				}
			}

			.boxFunc {
				padding: 1% 0;
				button:nth-child(1) {
					width: auto;
					height: 40px;
					font-size: 1rem;
					border-radius: 5px;
					i {
						padding-right: 10%;
					}
				}
				button:nth-child(2) {
					width: 120px;
					height: 40px;
					font-size: 1rem;
					border-radius: 5px;
					margin-left: 5%;
				}
			}

			.boxChildComment {
				padding: 0 0 0 2%;
				border-left: 1px solid rgba(1, 1, 1, 0.1);
				.boxText {
					padding: 1% 0;
				}
				.boxUser {
					display: flex;
					align-items: center;
					.img {
						width: 40px;
						width: 40px;

						img {
							width: 100%;
							height: 100%;
							object-fit: cover;
						}
					}
					.name {
						padding-left: 1%;
					}
					.time {
						color: rgba(1, 1, 1, 0.6);
						padding-left: 2%;
					}
				}
			}
		}
	}

	.sameCateProduct {
		padding-top: 30px;
		.box {
			display: flex;
		}
		.box-item {
			position: relative;
			padding: 30px 8px 0 8px;
			width: 25%;

			.imgBox {
				position: relative;
				overflow: hidden;
				border-radius: 5px;
				display: flex;
				justify-content: center;
				align-items: center;
				img {
					transition: all 0.3s ease-in-out 0s;

					width: auto;
					height: 28vh;
				}

				a {
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					z-index: 1;
				}

				&:hover {
					.addCart {
						display: block;
						animation: fadeRight ease-in-out 0.35s;
						animation-delay: 0s;
					}
				}

				.sale {
					color: #fff;
					position: absolute;
					bottom: 2%;
					right: 5%;
					width: 55px;
					height: 55px;
					background-color: #ffa801;
					display: flex;
					justify-content: center;
					align-items: center;
					font-size: 1.2rem;
					border-radius: 100%;
				}

				.addCart {
					display: none;

					position: absolute;
					bottom: 2%;
					left: 5%;
					width: 50px;
					height: 50px;
					font-size: 1.5rem;
					background-color: #ffa801;
					border-radius: 100%;

					z-index: 2;
					a {
						text-decoration: none;
						color: #fff;
						display: flex;
						justify-content: center;
						align-items: center;
					}

					&:hover {
						background-color: #e75768;
					}
				}
			}
			.descBox {
				.name {
					text-align: center;
					padding: 10px 0;
					font-size: 1.1rem;
				}

				.descPrice {
					display: flex;
					align-items: center;
					justify-content: space-around;
					.price {
						display: flex;
						align-items: center;
						.oldPrice {
							text-decoration: line-through;
							padding-left: 10px;
							font-size: 1.1rem;
						}
						.newPrice {
							font-size: 1.3rem;
							font-weight: bold;
							color: #e75768;
						}
					}
					.rating {
						color: rgba(1, 1, 1, 0.2);
						i.active {
							color: #febd69;
						}
					}
				}
			}
		}
	}
}

// modal
.detailCommentProductModal {
	//   max-width: 1300px;
	// width: auto !important;
	width: 1300px !important;
	.ant-modal-content {
		.ant-modal-header {
			padding: 10px 20px;
		}
		.ant-modal-close-x {
			width: 44px;
			height: 44px;
			line-height: 36px;
		}

		.ant-modal-body {
			padding: 10px 20px;

			.imgModal {
				display: flex;
				justify-content: center;
				img {
					max-width: 100%;
					width: auto;
					height: auto;
					max-height: 90vh;
					min-height: 45vh;
				}
			}

			.listImgModal {
				display: flex;
				flex-wrap: wrap;
				height: 100%;

				.listImgModal-item {
					width: 33.3%;
					padding: 5px;
					.selected img {
						border: 3px #ffa801 solid;
					}
					img {
						width: 100%;
						height: 10vh;
					}
				}
			}
		}
	}

	.ant-modal-content .ant-modal-footer {
		display: none;
	}
}

@media screen and (max-width: 736px) {
	.configReview {
		padding-top: 0px;
		position: relative;
		.title {
			padding-top: 10px;
			position: relative;
			font-size: 1.3rem;

			border-bottom: 0.5px solid rgba(1, 1, 1, 0.2);
			p {
				margin-bottom: 10px;
			}

			&::before {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				height: 2px;
				width: 80px;
				background-color: #45d8bb;
			}
		}

		.box {
			margin: 3% 0 3% 0;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-wrap: wrap;
			.box-left {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				padding: 0 10%;
				border-right: none;
				.count {
					font-size: 3.5rem;
				}
				.rating {
					display: inline-block;
					color: rgba(1, 1, 1, 0.2);
					font-size: 1rem;
					i.active {
						color: #febd69;
					}
				}
				.comment {
					font-size: 1rem;
				}
			}

			.box-right {
				padding: 0 0 0 10%;
				.ratingFive,
				.ratingFour,
				.ratingThere,
				.ratingTwo,
				.ratingOne {
					display: flex;
					align-items: center;
					font-size: 1rem;
					align-items: center;
					color: rgba(1, 1, 1, 0.2);
					font-size: 1rem;
					i.active {
						color: #febd69;
					}

					.processBar {
						width: 200px;
						padding-left: 5%;
					}

					.count {
						padding-left: 3%;
						color: rgba(1, 1, 1, 0.8);
					}
				}
			}
		}

		.Commented {
			position: relative;
			.boxParentComment {
				margin: 0;
				padding: 0 0 2% 0;
				border-bottom: 1px solid rgba(1, 1, 1, 0.1);
				.boxTitle {
					display: flex;
					align-items: center;
					.userImg {
						width: 70px;
						height: 70px;
						img {
							width: 100%;
							width: 100%;
						}
					}

					.user {
						padding-left: 1%;
						.name {
							font-size: 1rem;
							color: rgba(1, 1, 1, 0.9);
						}
						.time {
							color: rgba(1, 1, 1, 0.6);
						}
					}
				}
				.rating {
					display: inline-block;
					color: rgba(1, 1, 1, 0.2);
					font-size: 1rem;
					i.active {
						color: #febd69;
					}
				}
				.boxContent {
					p {
						font-size: 1.1rem;
						font-weight: bold;
					}
				}

				.boxImg {
					display: flex;
					.boxImg-item {
						width: 33.3%;
						height: 12vh;
						padding: 1%;

						img {
							border-radius: 10px;
							width: 100%;
							height: 100%;
						}
					}
				}

				.boxFunc {
					padding: 1% 0;
					button:nth-child(1) {
						width: auto;
						height: 40px;
						font-size: 1rem;
						border-radius: 5px;
						i {
							padding-right: 10%;
						}
					}
					button:nth-child(2) {
						width: 120px;
						height: 40px;
						font-size: 1rem;
						border-radius: 5px;
						margin-left: 5%;
					}
				}

				.boxChildComment {
					padding: 0 0 0 2%;
					border-left: 1px solid rgba(1, 1, 1, 0.1);
					.boxText {
						padding: 1% 0;
					}
					.boxUser {
						display: flex;
						align-items: center;
						.img {
							width: 40px;
							width: 40px;
							img {
								width: 100%;
								height: 100%;
								object-fit: cover;
							}
						}
						.name {
							padding-left: 1%;
						}
						.time {
							color: rgba(1, 1, 1, 0.6);
							padding-left: 2%;
						}
					}
				}
			}
		}

		.sameCateProduct {
			padding-top: 0px;
			.box {
				display: flex;
			}
			.box-item {
				position: relative;
				padding: 30px 8px 0 8px;
				width: 100%;

				.imgBox {
					position: relative;
					overflow: hidden;
					border-radius: 5px;
					display: flex;
					justify-content: center;
					align-items: center;
					img {
						transition: all 0.3s ease-in-out 0s;

						width: auto;
						height: 28vh;
					}

					a {
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						z-index: 1;
					}

					&:hover {
						.addCart {
							display: block;
							animation: fadeRight ease-in-out 0.35s;
							animation-delay: 0s;
						}
					}

					.sale {
						color: #fff;
						position: absolute;
						bottom: 2%;
						right: 10%;
						width: 55px;
						height: 55px;
						background-color: #ffa801;
						display: flex;
						justify-content: center;
						align-items: center;
						font-size: 1.2rem;
						border-radius: 100%;
					}

					.addCart {
						display: none;

						position: absolute;
						bottom: 2%;
						left: 10%;
						width: 50px;
						height: 50px;
						font-size: 1.5rem;
						background-color: #ffa801;
						border-radius: 100%;

						z-index: 2;
						a {
							text-decoration: none;
							color: #fff;
							display: flex;
							justify-content: center;
							align-items: center;
						}

						&:hover {
							background-color: #e75768;
						}
					}
				}
				.descBox {
					.name {
						text-align: center;
						padding: 10px 0;
						font-size: 1.1rem;
					}

					.descPrice {
						display: flex;
						align-items: center;
						justify-content: space-around;
						.price {
							display: flex;
							align-items: center;
							.oldPrice {
								text-decoration: line-through;
								padding-left: 10px;
								font-size: 1.1rem;
							}
							.newPrice {
								font-size: 1.3rem;
								font-weight: bold;
								color: #e75768;
							}
						}
						.rating {
							color: rgba(1, 1, 1, 0.2);
							i.active {
								color: #febd69;
							}
						}
					}
				}
			}
		}
	}
}
