.BookingModal {
	.ant-modal-body span.colLeft {
		font-weight: bold;
	}
	img.ant-image-img {
		width: auto;
		max-height: 200px;
	}
	* {
		font-size: 16px;
	}
	.title {
		font-weight: 600;
		font-size: 18px;
	}
}
