@use "./../../style/base/font.scss";
@use "./../../style/base/typography.scss";
@use "./../../style/base/color-theming.scss";
@use "./../../style/base/global.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.ListProductsWeb {
  min-width: 1230px;
  background-color: color-theming.$bgTertiary;
  display: flex;
  flex-direction: column;
  align-items: center;
  // .CompareProduct {
  //   display: flex;
  //   justify-content: center;
  //   margin-bottom: 32px;
  //   border-radius: 8px;
  //   a {
  //     text-decoration: none;
  //   }
  // }

  // .ItemSecond {
  //   display: flex;
  //   justify-content: center;
  //   margin-bottom: 32px;

  //   .box {
  //     width: 1200px;
  //     display: flex;
  //     justify-content: space-between;
  //     &__item {
  //       width: 588px;
  //       height: 240px;
  //       border-radius: 8px;
  //       img {
  //         width: 588px;
  //         height: 240px;
  //         border-radius: 8px;
  //         object-fit: cover;
  //       }
  //     }
  //   }
  // }

  // .ItemFirst {
  //   display: flex;
  //   justify-content: center;
  //   margin-bottom: 32px;

  //   .box {
  //     position: relative;
  //     width: 1200px;
  //     height: 168px;
  //     display: flex;
  //     justify-content: space-between;
  //     &__item {
  //       width: 1200px;
  //       height: 168px;
  //       border-radius: 8px;
  //       z-index: 1;

  //       img {
  //         width: 1200px;
  //         height: 168px;
  //         border-radius: 8px;
  //         object-fit: cover;
  //       }
  //     }

  //     &__text {
  //       @extend %displaySmall;
  //       text-transform: uppercase;
  //       color: #fff;
  //       position: absolute;
  //       top: 52px;
  //       left: 56px;
  //       z-index: 2;
  //       width: 676px;
  //       height: 64px;
  //       overflow: hidden;
  //     }
  //     &__button.btn {
  //       position: absolute;
  //       top: 52px;
  //       right: 55px;
  //       z-index: 2;
  //       width: 298px;
  //       height: 64px;
  //       border-radius: 8px;
  //       background: color-theming.$ducvietComputer;
  //       svg path {
  //         fill: #fff;
  //         transform: translateY(-3px);
  //       }

  //       span {
  //         @extend %displaySmall;
  //         color: #fff;
  //         margin-left: 10px;
  //       }
  //     }
  //   }
  // }

  // .ItemFilter {
  //   display: flex;
  //   justify-content: center;
  //   margin-bottom: 32px;
  //   border-radius: 8px;
  //   a {
  //     text-decoration: none;
  //   }

  //   .box {
  //     width: 1200px;
  //     background-color: color-theming.$bgPrimary;
  //     border-radius: 8px;
  //     padding: 24px 24px 0 24px;

  //     &__title {
  //       @extend %displayMedium;
  //       height: 36px;
  //       vertical-align: middle;
  //       color: color-theming.$contentPrimary;
  //       padding-left: 24px;
  //       border-left: 4px solid #d10101;
  //       text-transform: uppercase;
  //     }

  //     &__content {
  //       padding-top: 24px;
  //       &-item {
  //         display: flex;
  //         align-items: flex-start;

  //         .name {
  //           min-width: 160px;
  //           min-height: 24px;
  //           padding-top: 12px;
  //           margin-right: 32px;
  //           span {
  //             @extend %headingMedium;

  //             color: color-theming.$contentPrimary;
  //           }
  //         }
  //         .list-image {
  //           width: 960px;
  //           position: relative;
  //           display: flex;
  //           flex-wrap: nowrap;
  //           overflow: hidden;
  //           margin-bottom: 16px;
  //           .item {
  //             position: relative;
  //             height: 160px;
  //             width: 160px;
  //             margin-right: 24px;
  //             border-radius: 8px;
  //             &.active {
  //               img {
  //                 overflow: hidden;
  //                 border: 2px solid #3080ea;
  //                 height: 160px;
  //                 width: 160px;
  //                 border-radius: 8px;
  //                 object-fit: cover;
  //               }
  //               .checkbox {
  //                 display: block;
  //               }
  //             }
  //             .checkbox {
  //               display: none;
  //               position: absolute;
  //               top: 14px;
  //               right: 18px;
  //             }
  //             &:hover {
  //               img {
  //                 overflow: hidden;
  //                 border: 2px solid #3080ea;
  //                 height: 160px;
  //                 width: 160px;
  //                 border-radius: 8px;
  //                 object-fit: cover;
  //               }
  //             }

  //             img {
  //               height: 160px;
  //               width: 160px;
  //               border-radius: 8px;
  //               object-fit: cover;
  //             }
  //             .text {
  //               position: absolute;
  //               bottom: 12px;
  //               left: 0;
  //               height: 28px;
  //               text-align: center;
  //               width: 160px;
  //               span {
  //                 @extend %headingSmall;
  //                 padding: 4px 8px;
  //                 border-radius: 4px;

  //                 background-color: color-theming.$bgPrimary;
  //               }
  //             }
  //           }

  //           button.icon-left-2 {
  //             position: absolute;
  //             top: 60px;
  //             left: 0px;
  //             animation: fadeOpacity ease-in-out 0.3s;

  //             width: 40px;
  //             height: 40px;
  //             border-radius: 4px;
  //             background-color: color-theming.$bgPrimary;

  //             border: 1px solid color-theming.$linePrimary;
  //             &:hover {
  //               @extend %shadow1;
  //             }
  //           }
  //           button.icon-right-2 {
  //             position: absolute;
  //             top: 60px;
  //             right: 12px;
  //             animation: fadeOpacity ease-in-out 0.3s;

  //             width: 40px;
  //             height: 40px;
  //             border-radius: 4px;
  //             background-color: color-theming.$bgPrimary;

  //             border: 1px solid color-theming.$linePrimary;
  //             &:hover {
  //               @extend %shadow1;
  //             }
  //           }
  //         }
  //         .list {
  //           width: 888px;
  //           ul {
  //             display: flex;
  //             margin-bottom: 0;
  //             list-style: none;
  //             flex-wrap: wrap;
  //             padding-bottom: 4px;
  //             li {
  //               @extend %bodyLarge;
  //               overflow: hidden;
  //               cursor: pointer;
  //               display: flex;
  //               color: color-theming.$contentPrimary;
  //               border: 1px solid color-theming.$linePrimary;
  //               justify-content: center;

  //               border-radius: 4px;
  //               padding: 12px 16px;
  //               height: 48px;
  //               background-color: color-theming.$bgPrimary;
  //               margin-right: 12px;
  //               margin-bottom: 12px;
  //               span {
  //                 padding-left: 8px;
  //                 display: none;
  //               }
  //               &.active {
  //                 color: color-theming.$contentInversePrimary;
  //                 background-color: color-theming.$bgAccentPrimary;
  //                 span {
  //                   display: block;
  //                   svg path {
  //                     fill: color-theming.$contentInversePrimary;
  //                   }
  //                 }
  //               }
  //             }
  //           }
  //         }

  //         button.btn {
  //           margin-left: 16px;
  //           width: 48px;
  //           height: 48px;
  //           background-color: color-theming.$bgSecondary;
  //           border-radius: 4px;
  //         }
  //       }
  //     }

  //     &__showMore {
  //       width: 100%;
  //       display: flex;
  //       justify-content: center;
  //       padding-bottom: 8px;
  //       a.box__showMore-link {
  //         div {
  //           @extend %headingMedium;
  //           display: flex;
  //           align-items: center;
  //           height: 48px;
  //           width: 150px;
  //           color: color-theming.$contentAccent;
  //           svg path {
  //             fill: color-theming.$contentAccent;
  //           }
  //         }
  //       }
  //     }
  //   }
  // }

  // .ItemList {
  //   margin-bottom: 32px;
  //   border-radius: 8px;
  //   width: 1200px;
  //   background-color: color-theming.$bgPrimary;
  //   border-radius: 8px;

  //   a {
  //     text-decoration: none;
  //   }
  //   .title {
  //     display: flex;
  //     justify-content: space-between;
  //     width: 100%;
  //     height: 72px;
  //     align-items: center;
  //     padding: 0 24px 0 24px;
  //     &__left {
  //       // @extend %displayMedium;
  //       @extend %headingLarge;
  //       // headingLarge
  //       // vertical-align: middle;
  //       color: color-theming.$contentPrimary;
  //       // padding-left: 24px;
  //       // border-left: 4px solid #d10101;
  //       // text-transform: uppercase;
  //     }

  //     &__right {
  //       display: flex;
  //       ul {
  //         display: flex;
  //         margin-bottom: 0;
  //         list-style: none;
  //         flex-wrap: wrap;
  //         height: 48px;
  //         //   padding-bottom: 4px;
  //         li {
  //           @extend %bodyLarge;
  //           overflow: hidden;
  //           cursor: pointer;
  //           display: flex;
  //           color: color-theming.$contentPrimary;
  //           border: 1px solid color-theming.$linePrimary;
  //           justify-content: center;

  //           border-radius: 4px;
  //           padding: 12px 16px;
  //           height: 48px;
  //           background-color: color-theming.$bgPrimary;
  //           margin-right: 12px;
  //           span {
  //             padding-left: 8px;
  //             display: none;
  //           }
  //           &.active {
  //             color: color-theming.$contentInversePrimary;
  //             background-color: color-theming.$bgAccentPrimary;
  //             span {
  //               display: block;
  //               svg path {
  //                 fill: color-theming.$contentInversePrimary;
  //               }
  //             }
  //           }
  //         }
  //       }

  //       .form-search {
  //         height: 48px;
  //         display: flex;
  //         align-items: center;
  //         input.form-control {
  //           @extend %bodyLarge;
  //           height: 48px;
  //           width: 128px;
  //         }
  //         div {
  //           margin-right: 8px;
  //           margin-left: 8px;
  //         }
  //         button {
  //           @extend %bodyLarge;
  //           margin-left: 8px;
  //           height: 48px;
  //           background-color: color-theming.$bgAccentPrimary;
  //           color: color-theming.$contentInversePrimary;
  //         }
  //       }
  //     }
  //   }
  //   .underlined {
  //     width: 1200px;
  //     border: 1px solid color-theming.$linePrimary;
  //   }
  //   .content {
  //     padding: 24px 24px 0 24px;
  //   }
  // }
}
