.yarn/** linguist-generated=true
.pnp.cjs linguist-generated=true
.pnp.loader.mjs linguist-generated=true
yarn.lock linguist-generated=true
src/services/platform/reporting/generated.ts linguist-generated=true
**/__snapshots__/** linguist-generated=true
