@use "./../../style/base/font.scss";
@use "./../../style/base/typography.scss";
@use "./../../style/base/color-theming.scss";
@use "./../../style/base/global.scss";
.AdsBotRight {
  animation-delay: 0s;
  transition: all 0.3s ease;
  position: fixed;
  bottom: 0;
  right: 0;
  height: auto;
  width: auto;
  z-index: 10;
  display: flex;
  img {
    height: 300px;
    width: 300px;
    transition: all 0.3s ease;
  }
  .btn__toggle {
    transition: all 0.3s ease;
    background-color: #fff;
    height: 40px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-radius: 4px 0 0 4px;

    .left {
      display: none;
    }
    .right {
      display: block;
    }
  }

  input#AdsBotRightCheckBox {
    display: none;
  }
  input#AdsBotRightCheckBox:checked ~ label {
    .left {
      display: block;
    }
    .right {
      display: none;
    }
  }
  input#AdsBotRightCheckBox:checked ~ label ~ img {
    margin-right: -300px;
  }

  input#AdsBotRightCheckBox:checked ~ label ~ img {
    margin-right: -300px;
  }
}
