.configBlogPage {
	padding: 0 18% 100px 20%;

	.title {
		position: relative;
		p {
			position: relative;
			padding: 8vh 0 10px 0;
			font-size: 2rem;
			font-weight: bold;
			color: rgb(43, 43, 40) !important;
			border-bottom: 1px solid rgba(0, 0, 0, 0.1);

			&::before {
				bottom: 0px;
				content: "";
				height: 2px;
				left: 0;
				position: absolute;
				width: 10%;
				box-sizing: border-box;
				color: #ffa801;
				background-color: #ffa801;
			}
		}
	}

	.ListBlogHighlight {
		position: relative;
		padding: 2vh 0 0 0;

		.cfCarousel {
			padding-top: 10px;

			.slick-dots {
				li {
					width: 15px;
					height: 15px;
					background: #d6d6d6;
					border-radius: 15px;

					button {
						width: 15px;
						height: 15px;
						border-radius: 15px;
						background-color: transparents;
					}
				}
				li.slick-active {
					background-color: #ffa801;
					button {
						background-color: #ffa801;
					}
				}
			}
		}

		.box {
			display: flex !important;
			min-height: 48vh;

			.boxImg {
				padding: 0 2%;
				display: flex;
				justify-content: center;
				align-items: center;

				img {
					height: 40vh;
					width: 100%;
					// object-fit: contain;
					border-radius: 6px;
				}
			}
			.boxContent {
				padding: 0 0 0 4%;

				a {
					font-size: 1.5rem;
					line-height: normal;
					text-decoration: none;
					color: rgba(0, 0, 0, 0.75);
					font-weight: 600;
					transition: all 0.2s ease-in-out 0s;

					&:hover {
						color: #ffa801;
					}
				}

				.desc {
					padding-top: 3%;
					font-size: 0.9rem;
					color: rgb(105, 105, 105);
					margin-bottom: 10px;
				}

				.author {
					font-style: italic;
					font-size: 1.2rem;
					font-weight: 600;
					color: rgba(0, 0, 0, 0.65);
					margin-bottom: 10px;
				}
				.time {
					font-size: 0.8rem;
					color: rgb(105, 105, 105);
				}
			}
		}
	}

	.ListBlog {
		padding-top: 10vh;
		.box {
			height: 45vh;
			.boxImg {
				position: relative;
				overflow: hidden;
				border-radius: 5px;
				img {
					width: 100%;
					height: 22vh;
					border-radius: 5px;
					transition: all 0.3s ease-in-out 0s;
				}
				&:hover img {
					transform: scale(1.1);
				}

				a {
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
				}
			}

			.boxContent {
				padding: 1vh 0 0 0;

				height: 23vh;
				a {
					font-size: 1rem;
					line-height: normal;
					text-decoration: none;
					color: rgba(0, 0, 0, 0.9);
					font-weight: 600;
					transition: all 0.2s ease-in-out 0s;
					&:hover {
						color: #ffa801;
					}
				}

				.desc {
					font-size: 0.9rem;
					color: rgb(105, 105, 105);
					height: auto;
					overflow: hidden;
					text-indent: 20px;
				}

				.author {
					height: 1vh;
					font-style: italic;
					font-size: 1rem;
					font-weight: 600;
					color: rgba(0, 0, 0, 0.8);
				}
				.time {
					height: 1vh;
					font-size: 0.8rem;
					color: rgb(105, 105, 105);
				}
			}
		}
	}
}

@media screen and (max-width: 736px) {
	.configBlogPage {
		position: relative;
		padding: 0 4%;
		.title {
			position: relative;
			p {
				position: relative;
				padding: 1vh 0 10px 0;
				font-size: 1.6rem;
				color: rgb(41, 41, 34) !important;
				border-bottom: 1px solid rgba(0, 0, 0, 0.1);

				&::before {
					bottom: 0px;
					content: "";
					height: 2px;
					left: 0;
					position: absolute;
					width: 10%;
					box-sizing: border-box;
					color: black;
					background-color: black;
				}
			}
		}
		.ListBlogHighlight {
			.box {
				display: flex;
				height: 48vh;

				.boxImg {
					padding: 0 2%;
					display: flex;
					justify-content: center;
					align-items: center;

					img {
						height: 40vh;
						width: 100%;
						// object-fit: contain;
						border-radius: 6px;
					}
				}
				.boxContent {
					padding: 0 0 0 4%;

					a {
						font-size: 1.2rem;
						line-height: normal;
						text-decoration: none;
						color: rgba(0, 0, 0, 0.75);
						font-weight: 600;
						transition: all 0.2s ease-in-out 0s;

						&:hover {
							color: #ffa801;
						}
					}

					.desc,
					.author,
					.time {
						display: none;
					}
				}
			}
		}

		.ListBlog {
			padding-top: 2vh;
			.box {
				// background-color: #0085ad;
				.boxImg {
					img {
						width: 100%;
						height: 25vh;
						border-radius: 10px;
					}
				}

				.boxContent {
					padding: 2vh 0 0 0;

					a {
						font-size: 1rem;
						line-height: normal;
						text-decoration: none;
						color: rgba(0, 0, 0, 0.9);
						font-weight: 600;
						transition: all 0.2s ease-in-out 0s;
						&:hover {
							color: #ffa801;
						}
					}

					.desc {
						padding-top: 1vh;
						font-size: 0.8rem;
						color: rgb(105, 105, 105);
						margin-bottom: 10px;
					}

					.author {
						font-style: italic;
						font-size: 0.9rem;
						font-weight: 600;
						color: rgba(0, 0, 0, 0.8);
						margin-bottom: 10px;
					}
					.time {
						font-size: 0.7rem;
						color: rgb(105, 105, 105);
					}
				}
			}
		}
	}
}
