@import url("https://fonts.googleapis.com/css?family=Numans");

$a: "https://images.unsplash.com/photo-1488998427799-e3362cec87c3?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80";

.ForgotPassword {
	background-image: url($a);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	font-family: "Numans", sans-serif;

	.container {
		height: 100%;
		align-content: center;
	}

	.card {
		height: 370px;
		margin-top: auto;
		margin-bottom: auto;
		width: 500px;
		background-color: rgba(0, 0, 0, 0.5) !important;
	}

	.social_icon span {
		font-size: 60px;
		margin-left: 10px;
		color: #ffc312;
	}

	.social_icon span:hover {
		color: white;
		cursor: pointer;
	}

	.card-header h3 {
		color: white;
	}

	.social_icon {
		position: absolute;
		right: 20px;
		top: -45px;
	}

	.input-group-prepend span {
		width: 50px;
		background-color: #ffc312;
		color: black;
		border: 0 !important;
	}

	input:focus {
		outline: 0 0 0 0 !important;
		box-shadow: 0 0 0 0 !important;
	}

	.remember {
		color: white;
	}

	.remember input {
		width: 20px;
		height: 20px;
		margin-left: 15px;
		margin-right: 5px;
	}

	.login_btn {
		color: black;
		background-color: #ffc312;
		font-weight: 600;
		font-size: 1rem;
	}

	.login_btn:hover {
		color: black;
		background-color: white;
	}

	.links {
		color: white;
		font-size: 16px;
	}

	.links a {
		margin-left: 4px;
		color: #ffc312;
	}
	// input#password {
	// 	font-size: 21px;
	// }
	input {
		font-size: 16px;
		font-weight: bold;
	}
}
